body {
    width: 100%;
    height: 100%;
    background: #616161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    background-color:rgb(39, 33, 33);
}

.calculator form input{
    border: 0;
    outline: 0;
    width:60px;
    height: 60px;
    border-radius:10px;
    background: transparent;
    color:whitesmoke;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    box-shadow: rgba(250, 250, 254, 0.482) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

form .Display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .Display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width:145px;
}